.App {
  max-width:1200px;
  margin:0 auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav {
    border-bottom:1px solid black;
    padding-bottom: 5px;
}

.App-link {
  color: #61dafb;
}
/* BASIC */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
.logo {
    max-width: 220px;
    margin-left: 10px;
}
.logo img{
    display:block;
    width: 100%;
    height: auto;
}
h1 {
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
    margin:10px;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #232323;
}

ul, ol {
    padding-left:0;
}
.form-wrapper {
    padding:15px;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*justify-content: center;*/
  width: 100%;
  min-height: 100%;
  padding: 20px;
  margin-top: 50px;
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.form-control {
    width: 45%;
}
.has-error .form-control{
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-text {
    display:block;
}
.form-text {
    color:#a94442;
    display:none;
    width: 20%;
}

.has-error .error {
    display:block;
    padding: 10px;
}
.error {
    display:none;
}
.hidden{
    display:none;
}
.courses-list {
    padding:0 10px;
}

.courses{
    list-style:none;
    border:1px solid black;
    text-align: left;
    padding: 5px;
    margin-bottom:10px;
}
.form-group {
    display: flex;
}
.form-label {
    width: 33.3%;
}
/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:60%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
